body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.top_bar {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #222;
	height: 60px;
	width: 100%;
	background: #222;
}

.title {
	font-size: 20px;
	color: #fff;
	font-family: Ubuntu;
}

.page {
	display: flex;
	margin-top: 60px;
	height: 100%;
	color: #fff;
	background: #333;
	padding: 30px;
}