body {
  	font-family: "Lato", sans-serif;
}

#menu {
	height: 100%;
	width: 250px;
	margin-left: -249px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #222;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	box-shadow: #000 2px 0px 20px 0px;
}

#menu a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #999;
  	display: block;
  	transition: 0.3s;
}

#menu a:hover {
	color: #fff;
}

.menu_burger {
	font-size: 30px;
	color: #fff;
	padding: 20px;
}